[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
mdformat = "*"
pytest = "*"
vermin = "*"
hypothesis = {extras = ["cli"], version = "*"}
pre-commit = "*"
mypy = "*"
pytest-cov = "*"
ruff = "*"
tox = "*"
scriv = "*"


[requires]
python_version = "3.11"
